:root {
    --header-bgc: #3c4858;
    --sidebar-bgc: #3c4858;
    --header-tc: #fc86aa;
    --main-bgc: #f7f5f5;
    --app-color: #000133;
    --content-color: black;
}

body {
    margin: 0;
    padding: 0;
    font-size: "Roboto";
}

.custom-layout-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    float: left;
}

/* MAIN LAYOUT CSS */
.custom-layout-app {
    /* color: var(--content-color); */
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.custom-layout-header,
.custom-layout-footer {
    /* background: var(--header-bgc); */
    /* color: var(--header-tc); */
    height: 50px;
    padding-left: 1vw;
    padding-right: 1vw;
}

.custom-layout-container {
    display: flex;
    flex: 1;
}

.custom-layout-drawer-open {
    width: 20%;
}

.custom-layout-drawer-closed {
    width: 0px;
    transition: width 0.7s;
}

.custom-layout-main {
    flex: 1;
    background: var(--main-bgc);
}
